html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 500px;
  min-height: 500px;
}

.top-box {
  display: flex;
  width: 100%;
  height: 100%;
  /* height: calc(100% - 120px); */
  padding-top: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

.vertical-ad-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 250px;
  /* border: 1px solid rgb(0, 0, 0, 0.2); */
  margin: 10px;
  color: rgb(0, 0, 0, 0.5);
  font-size: 14px;
}

.horizontal-ad-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 100px;
  margin: 10px;
  /* border: 1px solid rgb(0, 0, 0, 0.2); */
  color: rgb(0, 0, 0, 0.5);
  font-size: 14px;
}

.vertical-ad {
  width: 100%;
  max-width: 160px;
  max-height: 600px;
  height: 100%;
  margin: 10px;
  margin-top: 0px;
}

.horizontal-ad {
  width: 320px;
  height: 100px;
  margin: 10px;
}

.bottom-box {
  display: flex;
  width: 100%;
  justify-content: center;
}

.row {
  display: flex;
}
.col {
  display: flex;

  flex-direction: column;
}

.content-box {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  /* max-height: calc(100% - 130px); */
}

@media screen and (max-width: 1200px) {
  .content-box {
    flex-direction: column-reverse;
    justify-content: flex-start;
    height: fit-content;
  }
  .bottom-box {
    flex-direction: column-reverse;
    align-items: center;
  }

  .vertical-ad {
    display: none;
  }

  iframe {
    max-height: 300px;
    min-height: 300px;
    height: 300px;
    margin: 20px;
    margin-left: 5px;
    margin-bottom: 20px;
  }
}
iframe {
  min-height: 700px;
  border: none;
}
@media screen and (min-width: 1200px) {
  .vertical-ad {
    display: flex;
  }
}

#absolute-insta-ad {
  position: absolute;
  max-height: 150px;
  max-width: 768px;
  width: calc(100% - 130px);
  top: 0;
  left: 0;
  margin-left: 3px;
}

.map-wrapper {
  position: relative;
  width: 100%;
}
